<?xml version="1.0" encoding="utf-8" standalone="yes"?>
<settings version="1">
  <section id="plugin.video.kofin">

    <!-- Account -->
    <category id="account" label="30050" help="30051">
      <group id="1">
        <!-- Hidden state written by kofin.core.settings.Credentials only. -->
        <setting id="isLoggedIn" type="boolean">
          <level>4</level>
          <default>false</default>
          <control type="toggle"/>
        </setting>
        <setting id="serverName" type="string">
          <level>4</level>
          <default></default>
          <constraints><allowempty>true</allowempty></constraints>
          <control type="edit" format="string"/>
        </setting>
        <setting id="serverId" type="string">
          <level>4</level>
          <default></default>
          <constraints><allowempty>true</allowempty></constraints>
          <control type="edit" format="string"/>
        </setting>
        <setting id="userId" type="string">
          <level>4</level>
          <default></default>
          <constraints><allowempty>true</allowempty></constraints>
          <control type="edit" format="string"/>
        </setting>
        <setting id="displayUser" type="string">
          <level>4</level>
          <default></default>
          <constraints><allowempty>true</allowempty></constraints>
          <control type="edit" format="string"/>
        </setting>
        <setting id="accessToken" type="string">
          <level>4</level>
          <default></default>
          <constraints><allowempty>true</allowempty></constraints>
          <control type="edit" format="string"/>
        </setting>
        <setting id="deviceId" type="string">
          <level>4</level>
          <default></default>
          <constraints><allowempty>true</allowempty></constraints>
          <control type="edit" format="string"/>
        </setting>

        <setting id="serverAddress" type="string" label="30052" help="30053">
          <level>0</level>
          <default></default>
          <constraints><allowempty>true</allowempty></constraints>
          <control type="edit" format="string"/>
        </setting>
      </group>
    </category>

  </section>
</settings>
