<?xml version="1.0" encoding="utf-8" standalone="yes"?>
<settings version="1">
  <section id="plugin.video.kofin">

    <!-- Account -->
    <category id="account" label="30050" help="30051">
      <group id="1">
        <!-- Hidden state written by kofin.core.settings.Credentials only. -->
        <setting id="isLoggedIn" type="boolean">
          <level>4</level>
          <default>false</default>
          <control type="toggle"/>
        </setting>
        <setting id="serverId" type="string">
          <level>4</level>
          <default></default>
          <constraints><allowempty>true</allowempty></constraints>
          <control type="edit" format="string"/>
        </setting>
        <setting id="userId" type="string">
          <level>4</level>
          <default></default>
          <constraints><allowempty>true</allowempty></constraints>
          <control type="edit" format="string"/>
        </setting>
        <setting id="accessToken" type="string">
          <level>4</level>
          <default></default>
          <constraints><allowempty>true</allowempty></constraints>
          <control type="edit" format="string"/>
        </setting>
        <setting id="deviceId" type="string">
          <level>4</level>
          <default></default>
          <constraints><allowempty>true</allowempty></constraints>
          <control type="edit" format="string"/>
        </setting>

        <setting id="serverAddress" type="string" label="30052" help="30053">
          <level>0</level>
          <default></default>
          <constraints><allowempty>true</allowempty></constraints>
          <dependencies>
            <dependency type="enable">
              <condition operator="is" setting="isLoggedIn">false</condition>
            </dependency>
          </dependencies>
          <control type="edit" format="string"/>
        </setting>
        <setting id="loginButton" type="string" label="30054" help="30055">
          <level>0</level>
          <default></default>
          <constraints><allowempty>true</allowempty></constraints>
          <dependencies>
            <dependency type="visible">
              <condition operator="is" setting="isLoggedIn">false</condition>
            </dependency>
          </dependencies>
          <control type="button" format="action">
            <data>RunPlugin(plugin://plugin.video.kofin/?mode=login)</data>
            <close>true</close>
          </control>
        </setting>
        <setting id="serverName" type="string" label="30056" help="30057">
          <level>0</level>
          <default></default>
          <constraints><allowempty>true</allowempty></constraints>
          <enable>false</enable>
          <dependencies>
            <dependency type="visible">
              <condition operator="is" setting="isLoggedIn">true</condition>
            </dependency>
          </dependencies>
          <control type="edit" format="string"/>
        </setting>
        <setting id="displayUser" type="string" label="30058" help="30059">
          <level>0</level>
          <default></default>
          <constraints><allowempty>true</allowempty></constraints>
          <enable>false</enable>
          <dependencies>
            <dependency type="visible">
              <condition operator="is" setting="isLoggedIn">true</condition>
            </dependency>
          </dependencies>
          <control type="edit" format="string"/>
        </setting>
        <setting id="testConnection" type="string" label="30060" help="30061">
          <level>0</level>
          <default></default>
          <constraints><allowempty>true</allowempty></constraints>
          <dependencies>
            <dependency type="visible">
              <condition operator="is" setting="isLoggedIn">true</condition>
            </dependency>
          </dependencies>
          <control type="button" format="action">
            <data>RunPlugin(plugin://plugin.video.kofin/?mode=testconnection)</data>
            <close>true</close>
          </control>
        </setting>
        <setting id="logoutButton" type="string" label="30062" help="30063">
          <level>0</level>
          <default></default>
          <constraints><allowempty>true</allowempty></constraints>
          <dependencies>
            <dependency type="visible">
              <condition operator="is" setting="isLoggedIn">true</condition>
            </dependency>
          </dependencies>
          <control type="button" format="action">
            <data>RunPlugin(plugin://plugin.video.kofin/?mode=logout)</data>
            <close>true</close>
          </control>
        </setting>
        <setting id="restartAddon" type="string" label="30064" help="30065">
          <level>0</level>
          <default></default>
          <constraints><allowempty>true</allowempty></constraints>
          <control type="button" format="action">
            <data>RunPlugin(plugin://plugin.video.kofin/?mode=restart)</data>
            <close>true</close>
          </control>
        </setting>
      </group>
      <group id="2" label="30070">
        <setting id="sslVerify" type="boolean" label="30066" help="30067">
          <level>0</level>
          <default>true</default>
          <control type="toggle"/>
        </setting>
        <setting id="deviceName" type="string" label="30068" help="30069">
          <level>0</level>
          <default>Kodi</default>
          <constraints><allowempty>false</allowempty></constraints>
          <control type="edit" format="string"/>
        </setting>
      </group>
    </category>

  </section>
</settings>
